body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height:100vh;
}
/* -----------left-nav-------------- */
.body-main {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #F0F0F0;
 }

.posi {
    position: fixed;
    background: #000;
    width: 200px; 
    height: 100%;
    /* border-radius: 5px; */
    padding: 0 20px;
    background-color: #30333c;
}

.left-nav {
    position: relative;
    background-color: #30333c;
    height: 100%;
}

.title p {
    text-align: center;
    font-size: 18px;
    font-style: initial;
    color: #FFFFFF;
}

.item p {
    text-indent:2em;
    font-style: initial;
    color: #FFFFFF;
    font-size: 14px;
}

.item {
    height: 48px;
    border-top: 2px solid hsla(0,0%,100%,.04);
    border-bottom: 2px solid hsla(0,0%,100%,.04);
}

.left-bar {
    list-style: none;
    /* 去点 */ 
    width: 100px;
}

.left-bar a {
    text-decoration: none;
}

.left-bar li p {
    font-size: 14px;
    font-style: initial;
    color: #6b7386;
}

.left-bar p:hover {
    color: #FFFFFF;
}

.left-bar li:last-child {
    position: fixed;
    bottom: 0;
    width: 150px;
    border-top: 2px solid hsla(0,0%,100%,.04);
    color: #FFFFFF;
}

/* -----------left-nav-------------- */

/* -----------right main------------ */
.right-main {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    left: 90px;
    /* display: flex; */
    overflow: hidden;
    background-color: #F0F0F0;
}

.input-bar {
    display: none;
    margin: 20px auto;
    width: 500px;
}

.search {
    width: 300px;
	height: 30px;
	margin: 2px;
    border-radius: 5px;
    border: 0;
    border: 2px solid #666;
    padding: 1px;
}

.search:focus {
    background-color: #BDECE6;
}

.search-button {
    margin: 10px auto;
    width: 100px;
    height: 30px;
	border: 2px solid #666;
    background-color: #666;
    font: bolder 15px georgia;
}
/* -----------right main------------ */
.nav-1 {
    margin: 30px;
    overflow: hidden;
    background: #FFFFFF;
}

.nav-1 img {
    position: relative;
    left: 10px;
    display: inline-block;
    width: 27px;
    height: 27px;
}

.nav-1 p {
    display: inline-block;
    position: relative;
    left: 5px;
    top: -7px;
    font-size: 18px;
    font-style: initial;
    color: #666;
}

.ic-out {
    overflow: hidden;
}

.ic {
    float: left;
    margin: 12px 17px;
    width: 240px;
    height: 105px;
    border: 1px solid #e4ecf3;
    box-shadow: 1px 2px 3px #f2f6f8;
}

.ic img {
    position: relative;
    left: 10px;
    top: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.ic a {
    font-weight: 700;
    position: relative;
    left: 20px;
    top: -5px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-style: initial;
    color: #3273dc;;
}
.ic a:hover {
    color: #EE7621;
}

.ic p {
   
    margin: 15px 10px;
    font-size: 12px;
    font-style: initial;
    color: #666;
    overflow:hidden; 
    /* 超出的文本隐藏 */
    text-overflow:ellipsis;
    /* 溢出用省略号显示 */
    display:-webkit-box; 
    /* 将对象作为弹性伸缩盒子模型显示。 */
    -webkit-box-orient:vertical;
    /* 从上到下垂直排列子元素 */
    -webkit-line-clamp:2;
    /* 表示显示的行数。 */
} 


/* --------------响应式-------------- */
/* 手机端 */
/* @media screen and (max-width:700px)
{
.title p {
    text-align: left;
    font-size: 14px;
    font-style: initial;
    color: #FFFFFF;
}

.item p {
    font-size: 12px;
}

.left-bar li p {
    font-size: 14px;
    font-style: initial;
    color: #6b7386;
}

.item {
    height: 35px;
    border-top: 2px solid hsla(0,0%,100%,.04);
    border-bottom: 2px solid hsla(0,0%,100%,.04);
}

.posi {
    width: 90px; 
    padding: 0 1px;
}

.right-main {
    left: 90px;
}

.nav-1 {
    margin: 10px;
}

.ic {
    margin: 15px;
    width: 230px;
    height: 120px;
}
} */


/* ipad端 */
/* @media screen and (min-width:700px) and (max-width:1100px){
    .title p {
        text-align: center;
        font-size: 22px;
        font-style: initial;
        color: #FFFFFF;
    }
    
    .item p {
        text-indent:2em;
        font-style: initial;
        color: #FFFFFF;
        font-size: 20px;
    }
    
    .left-bar li p {
        font-size: 20px;
        font-style: initial;
        color: #6b7386;
    }
    
    .item {
        height: 68px;
        border-top: 2px solid hsla(0,0%,100%,.04);
        border-bottom: 2px solid hsla(0,0%,100%,.04);
    }

    .posi {
        width: 170px; 
        padding: 0 1px;
    }

    .right-main {
        left: 170px;
    }

    .ic {
        margin: 15px;
        width: 230px;
        height: 120px;
    }
} */

@media screen  and (max-width:480px) {
    .title {
        display: none;
    }
    .item {
        display: none;
    }

    .left-nav {
        position: fixed;
        z-index: 2;
    }

    .posi {
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 3;
        background-color: #fff;
        overflow-x:scroll;
        overflow-y:hidden;
    }
    
    .left-bar {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .left-bar li {
        float: left;
        padding: 0 20px;
    }

    .left-bar li:last-child {
        display: none;
    
    }

    .left-bar li:hover {
        background-color: #3273dc;
    }

    .right-main { 
        float: none;
        position: relative;
        top: 55px;
        left: 0px;
        margin: 0 auto;
        z-index: 1;
    }

    .nav-1 {
        margin: 10px;
    }

    .nav-1:last-child {
        margin-bottom: 80px;
    }

    .ic {
        width: 150px;
    }
}



@media screen and (min-width:481px) and (max-width:1490px) {
    .left-nav {
        width:200px;
        z-index: 3;
    }

    .right-main {
        float: left;
        z-index: 1;
        position: relative;
        left: 230px;
    }
}