body {
    margin: 0px;
    padding: 0px;
    border: 0px
}
/* -----------left-nav-------------- */
 .body-main {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #F0F0F0;
 }

.posi {
    position: fixed;
    overflow: hidden;
    background: #000;
    width: 180px; 
    height: 100%;
    /* border-radius: 5px; */
    padding: 0 60px;
    background-color: #30333c;
}

.left-nav {
    position: relative;
    background-color: #30333c;
    
    height: 100%;
   
    /* border-radius: 5px; */
}

.title p {
    text-align: center;
    font-size: 30px;
    font-style: initial;
    color: #6b7386;
}

.left-bar {
    list-style: none;
    /* 去点 */ 
    width: 100px;
    overflow-x: hidden;
	overflow-y: scroll;
}

.left-bar::-webkit-scrollbar {
	display: none;
}


.left-bar a {
    text-decoration: none;
}

.left-bar li p {
    font-size: 25px;
    font-style: initial;
    color: #6b7386;
}

.left-bar p:hover {
    font-size: 30px;
}

.left-bar li:last-child {
    position: fixed;
    bottom: 0;
}

/* -----------left-nav-------------- */

/* -----------right main------------ */
.right-main {
    position: relative;
    /* display: flex; */
    left: 300px;
    float: left;
    height: 1600px;
    background-color: #F0F0F0;
}

.input-bar {
    display: none;
    margin: 20px auto;
    width: 500px;
}

.search {
    width: 300px;
	height: 30px;
	margin: 2px;
    border-radius: 5px;
    border: 0;
    border: 2px solid #666;
    padding: 1px;
}

.search:focus {
    background-color: #BDECE6;
}

.search-button {
    margin: 10px auto;
    width: 100px;
    height: 30px;
	border: 2px solid #666;
    background-color: #666;
    font: bolder 15px georgia;
}
/* -----------right main------------ */
.nav-1 {
    margin: 50px;
    width: 1100px;
    overflow: hidden;
    background: #FFFFFF;
}

.nav-1 img {
    position: relative;
    left: 10px;
    top: 15px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.nav-1 p {
    display: inline-block;
    font-size: 25px;
    font-style: initial;
    color: #666;
}

.ic-out {
    overflow: hidden;
}

.ic {
    float: left;
    margin: 30px;
    width: 300px;
    height: 150px;
    border: #B5B5B5 2px solid;
    box-shadow: 5px 5px 3px #F0F0F0;
}

.ic img {
    position: relative;
    left: 10px;
    top: 10px;
    display: inline-block;
    width: 70px;
    height: 70px;
}

.ic a {
    position: relative;
    left: 50px;
    top: -15px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-style: initial;
    color: #666;
}
.ic a:hover {
    color: #EE7621;
}

.ic p {
    display: inline-block;
    margin: 15px 10px;
    font-size: 15px;
    font-style: initial;
    color: #666;
}